<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <h1 class="{{data}}">Raymond is headsome {{data}}</h1> -->
<h1>{{title}}</h1>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
    <!-- code step by step abc else</h1> -->
<ng-template #ifBlock>
    <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template>