<button type="button" name="button" (click)='getInfoFromServiceClass1()'> Employee1</button>
<ul class="list-group-item">
<li *ngFor="let info of inforeceive1">{{info}}</li></ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass2()'> Employee2</button>
<ul class="list-group-item">
<li *ngFor="let info of inforeceive2">{{info}}</li></ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass3()'> Employee3</button>
<ul class="list-group-item">
<li *ngFor="let info of inforeceive3">{{info}}</li></ul>